# API Configuration
VITE_API_URL=http://localhost:8080
#VITE_API_URL=http://167.172.68.133:8080
VITE_TELEGRAM_BOT_USERNAME=yukbor_global_bot

# Environment
VITE_APP_ENV=development

# Security (CHANGE IN PRODUCTION!)
VITE_ENCRYPTION_KEY=change-me-in-production

# Optional: Analytics & Monitoring
# VITE_SENTRY_DSN=your-sentry-dsn
# VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
